body {
    background-color: #d7eedc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    padding: 0;
    height: 4rem;
    background-color: #5c6e60;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 1rem;
}

nav ul li a:hover {
    background-color: #809785;
}

a {
    text-decoration: none;
    color: white;
}

#mainContainer {
    margin-top: 1rem;
}

#productCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 12rem;
    height: 8rem;
    background-color: bisque;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    flex-shrink: 0;
    cursor: pointer;
}

#productsView {
    display: flex;
    flex-wrap: wrap;
}

#cartItem {
    background-color: #f7f7f7;
    padding: 1rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000025;
}

#cartView {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#submitPurchase {
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

#shopName {
    font-weight: bold;
    font-size: x-large;
}